@import "custom";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

:root {
    --main-bg-color: #2447FF;
}

section {
    padding: 40px 0;
}

.header-wrapper {
    height: 500px;
    width: 100%;
    background-color: var(--main-bg-color);
    color: #FFF;
    display: table;
}

.header-wrapper div {
    display: table-cell;
    vertical-align: middle;
}

.minor-header-wrapper {
    height: 200px;
    width: 100%;
    background-color: var(--main-bg-color);
    color: #FFF;
    display: table;
}

.card-columns .card {
    display: flex;
}

.questions-wrapper {
    background-color: var(--main-bg-color);
    color: #FFF;
}

.contacts-wrapper {
    background-color: #555;
    color: #FFF;
}

.contacts-wrapper .links a {
    color: #FFF;
}

.menu-reference {
    display: inline-block;
    background-color: #222;
    color: #9d9d9d;
    padding: 0 5px;
}

#lang_chooser {
    position: absolute;
    top: 10px;
    right: 10px;
}
